// ==================== ORBIS MAIN STYLESHEET ====================

// 1. Import Bootstrap functions first
@import "bootstrap/scss/functions";

// 2. Import Orbis variables
@import "variables";

// 3. Import remaining Bootstrap
@import "bootstrap/scss/variables";
@import "bootstrap/scss/variables-dark";
@import "bootstrap/scss/maps";
@import "bootstrap/scss/mixins";
@import "bootstrap/scss/utilities";

// 4. Import Bootstrap components
@import "bootstrap/scss/root";
@import "bootstrap/scss/reboot";
@import "bootstrap/scss/type";
@import "bootstrap/scss/containers";
@import "bootstrap/scss/grid";
@import "bootstrap/scss/buttons";
@import "bootstrap/scss/forms";
@import "bootstrap/scss/card";
@import "bootstrap/scss/nav";
@import "bootstrap/scss/navbar";
@import "bootstrap/scss/badge";
@import "bootstrap/scss/alert";
@import "bootstrap/scss/dropdown";
@import "bootstrap/scss/modal";
@import "bootstrap/scss/transitions";
@import "bootstrap/scss/utilities/api";

// 5. Import Orbis custom
@import "./mixins/mixins";
@import "./themes/dark";
@import "./themes/light";
@import "./base";

// 6. Import component styles
@import "./components/landing";
@import "./components/dashboard";
@import "./components/my-resources";

@import "./components/auth";
@import "./components/navbar";
@import "./components/sidebar";
@import "./components/cards";
@import "./components/buttons";
@import "./components/forms";
@import "./components/badges";
@import "./components/orbs";
@import "./components/resources";
@import "./components/comments";
@import "./components/profile";
@import "./components/editor";
@import "./components/TipTapEditor";
@import "./components/animations";
@import "./components/layout";
@import "./components/search";
@import "./components/tour";
@import "./components/setting";
@import "./components/cookie-banner";
@import "./components/leaderboard";
@import "./components/not-found";
@import "./components/avatar-upload";
